<!--<div class="ui  ad rectangle" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">-->
<!-- <div style="margin-top:10px; text-align:center;">Praise the Beauty of Nature </div>-->
<!-- <div style="text-align:center;margin-top:10px;">with Bonfire & Camping</div>-->
<!-- <div style="text-align:center;margin-top:10px;margin-bottom:10px;">Try our Treking Packages today !!!</div>-->

<!-- <center><button style="text-align:center;" class="ui large orange button"><a href="/trek/treks" style="color:white;" >Click to Know More</a>-->
<!-- </button></center>-->
<!--</div>-->

  <div class="card" style="background:black;">
    <div class="image">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/v1530857170/IMG-20180621-WA0016-02-01-01.jpg">
    </div>
   
    <div class="content">
             <div class="center aligned" style="font-size:1.5em; color:limegreen;">From <i class="rupee sign fitted icon"></i> 900/Adult</div>
<center>

     <div class="center aligned">
         <button class="ui green big button" style="margin-top:15px;"><a href="/trek/treks" style="color:white;" >Explore</a></button>
         </div>
    </div>
    
  </div>