<!--<div class="ui  ad rectangle" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">-->

<!-- <div style=" text-align:center; margin-top:10px;">Wanna stay for few more days?</div> -->
<!-- <div style="text-align:center;margin-top:10px;">Try our Prashar Lake Guest House</div>-->
<!-- <div style="text-align:center; margin-top:10px; margin-bottom:10px;">@ Rs1500/night</div>-->

<!-- <center><button style="text-align:center;" class="ui large orange button"><a href="/trek/guest" style="color:white;">Click to Know More</a></button></center>-->
<!--</div>-->
 <div class="card" style="background:black;">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530824343/IMG-20180629-WA0010-03.jpg">
    </div>
   
    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:mediumpurple;"><i class="rupee sign fitted icon"></i> 2000/Night</div>
<center>

     <div class="center aligned" >
         <button class="ui  big button" style="margin-top:15px; background:rebeccapurple"><a href="/trek/guest" style="color:white;">Know More</a></button></button>
         </div>
    </div>
    <!--background:mediumvioletred; -->
  </div>