<div class="ui  ad rectangle" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">

 <div style=" text-align:center; margin-top:10px;">Wanna stay for few more days?</div> 
 <div style="text-align:center;margin-top:10px;">Try our Prashar Lake Guest House</div>
 <div style="text-align:center; margin-top:10px; margin-bottom:10px;">@ Rs1500/night</div>

 <center><button style="text-align:center;" class="ui large orange button"><a href="/trek/guest" style="color:white;">Click to Know More</a></button></center>
</div>