<!--<div class="ui rectangle ad" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">-->
<!-- <div style="margin-top:10px; text-align:center;">Glide through the Air like Eagle !!!</div> -->
<!--<div style="text-align:center;margin-top:10px;">Enjoy Paragliding in Kullu</div> -->
<!-- <div style="text-align:center;margin-top:10px;margin-bottom:10px;">@ Rs3000/person</div>-->

<!-- <center><button class="ui large centered orange button"><a href="/trek/paragliding" style="color:white;">Click to Know More</a></button></center>-->
<!--</div>-->

  <div class="card" style="background:black;">
    <div class="image" style="margin-top:0px;">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/v1530857162/IMG-20180621-WA0040-03-02.jpg">
    </div>

    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:orange; margin-top:10px;"><i class="rupee sign fitted icon"></i> 3000/Adult</div>
<center>
      <button class="ui big orange button" style="margin-top:15px;"><a href="/trek/paragliding" style="color:white;">Explore</a> </button>
     </center>
    </div>
    
  </div>