<div class="ui rectangle ad" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">
 <div style="margin-top:10px; text-align:center;">Glide through the Air like Eagle !!!</div> 
<div style="text-align:center;margin-top:10px;">Enjoy Paragliding in Kullu</div> 
 <div style="text-align:center;margin-top:10px;margin-bottom:10px;">@ Rs3000/person</div>

 <center><button class="ui large centered orange button"><a href="/trek/paragliding" style="color:white;">Click to Know More</a></button></center>
</div>