<div class="ui rectangle ad" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">
 <div style="margin-top:10px;text-align:center;">Want some More Adventure & Fun?</div>
 <div style="text-align:center;margin-top:10px;">Give a shot for River Rafting</div>
 <div style="text-align:center;margin-top:10px;margin-bottom:10px;">@ Rs600/person</div>

<center><button style="text-align:center;" class="ui large orange button"><a href="/trek/rafting" style="color:white;">Click to Know More</a></button></center> 
</div>