<!--<div class="ui rectangle ad" data-text="" style="background-color:slateblue; color:white; font-size:1.8em;">-->
<!-- <div style="margin-top:10px;text-align:center;">Want some More Adventure & Fun?</div>-->
<!-- <div style="text-align:center;margin-top:10px;">Give a shot for River Rafting</div>-->
<!-- <div style="text-align:center;margin-top:10px;margin-bottom:10px;">@ Rs600/person</div>-->

<!--<center><button style="text-align:center;" class="ui large orange button"><a href="/trek/rafting" style="color:white;">Click to Know More</a></button></center> -->
<!--</div>-->

  <div class="card" style="background:black;">
    <div class="image">
      <img src="http://res.cloudinary.com/dzdj5vlz4/image/upload/v1530818357/IMG-20180621-WA0038-03-02.jpg">
    </div>

    <div class="content">
     <div class="center aligned" style="font-size:1.5em; color:deepskyblue;">From <i class="rupee sign fitted icon"></i> 600/Adult</div>
<center>
      <button class="ui big blue button" style="margin-top:15px;"><a href="/trek/rafting" style="color:white;">Explore</a> </button>
     </center>
    </div>
    
  </div>