<% include partials/header.ejs %>



<div class="ui big breadcrumb">
  <a class="section" href="/home">Home</a>
  <div class="divider"> / </div>
  <div class=" active section"> Leisure</div>
 
</div> 
    
   
   
<div class="ui one column grid">
  <div class="column">

      
      
           <div class="ui two stackable cards" style="margin-top:10px;">
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529937945/Kishna%20Camps/CampsAndTreks/JlaLkoRdmU3CgifT1gFrWgQIxeuGAmkanOWFpO9WT9YLaoSNDJf1ZrBlpJWXH2njYQov5LyS18Uo8qIEkX0i2PFJoi7797tSuywD_w1064-h598-rw-no.jpg">
    </div>
  </div>
  <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529925131/IMG-20180621-WA0004-01.jpg">
    </div>
  </div>
   <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939059/Kishna%20Camps/CampsAndTreks/IJ8frU-DDYPWsuqh3KVhvKJ-rbkgKgEkwmvzBh3stZhuuDkqcA_fsLimEX0UNjBKSfk-PHarYTIJb47KzfpmStDYcHc0-h05JWdT_w1040-h585-rw-no.jpg">
    </div>
  </div>
      <div class="card">
    <div class="image">
      <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529938148/Kishna%20Camps/CampsAndTreks/goBAS5sLG3kcA_dXqPwO8QjHefQJ4HH8auPZw2-iB2C1aOVs6AqUzYjqzB9z2zBpnG_Oj_gB5RCY9mktL5qLkHpSa4HNxTUj1c4J_w1280-h720-rw-no.jpg">
    </div>
  </div>

</div>
      <div class="ui raised fluid card" >
      <div class="content" style="font-size:2em;">
        <div class="header" >
            GUEST HOUSE 
       </div> 
        

    
        <div class="container-fluid" style="font-size:0.5em;">   
  

  </div> 
  </div>
   
            </div>
            
<h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;text-decoration:underline;">
price
  </h2>
  <div class="ui centered card">

               <div class="ui orange cards">
  <div class="card">
    <div class="content" style="text-align:center;">
    <div class="header">Rs 1500/night</div>
      
  </div> 
  </div>
   
            </div>

</div>
             <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>

<h2 class="ui  divider" style="margin-top:10px; margin-bottom:30px; text-decoration:underline;">

  </h2>            
</div>


<div class="left floated" style="margin-top:2px; margin-left:auto;">
<% include partials/rafting.ejs %>
</div>
<div class="right floated" style="margin-top:2px; margin-bottom:2px;">
<% include partials/paragliding.ejs %>
</div>
<div class="right floated" style="margin-top:2px; margin-bottom:2px; margin-right:auto">
<% include partials/camps.ejs %>
</div>
 </div>
</div>
</body>
</html>
