

<!DOCTYPE html>
<html>
<head>
  <title>Camps & Activities</title>
  <meta charset="utf-8">
  
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>       	
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <style>

  #section1 {padding-top:50px;height:300px;color: #fff; box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3); background-size: cover; background-image: url(https://res.cloudinary.com/dzdj5vlz4/image/upload/c_scale,g_center,h_5450,q_25,w_2351,x_398,y_514/v1530342726/LG7dao_VAGqAHOkh6ph5YAv5EGiwP5MNPdQo84Vu31FPKXa-nR_MgfdqGML7L155qh69KkDOPxO3V_d9oyXm3aB-uLs52L7_NhPPXg_w3144-h5590-rw-no.jpg); }
  #section2 {padding-top:10px;height:600px;color: #fff; background-size: cover; background:white;}
  #section3 {padding-top:50px;height:300px; color: #fff; background-size: cover; box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);background-image: url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530350854/che-YWv_5TKXLnX1gdMgmtOjtpRhlUpzKBtKPypE_hFFSmHMVXxJEDL9lOZNv6GWdcgUz98FOGJQbg_w1080-h720-rw-no.jpg);}
  #section4 {padding-top:50px;height:300px;color: #fff;  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3); background-size: cover;background-image: url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530349172/erQYtgVqXLhq2FAjVCFN1jP0fBGqLDXj7xr5zz-MXEVHjPDj6Z1zqYzStCOau0D_C7GEXv6V61bVE16H1fR3s5j62yee6q8l3lU3_w3268-h1814-rw-no.jpg);}
  #section51 {padding-top:50px;height:400px;color: #fff;  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); background-size: cover;background-image: url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1530353860/OOm63Q4unhS86kGebSPvl4ATeLzZ62lEXjjqKYDuVZjZD0x-76bmuG3WzF8LRywUBtW0RqIc878Ydg_w1280-h715-rw-no.jpg);}
  #section52 {padding-top:50px;height:400px;color: #fff;  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8); background-size: cover;background-image: url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921293/1200px-TAXI.jpg);}
  #section53 {padding-top:50px;height:400px;color: #fff;  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6); background-size: cover;background-image: url(https://unsplash.it/2000/1200/?image=1011);}

h1{
  text-align:center; margin-top:150px; font-size:4em;
}
.btn_z{
  text-align:center; margin-top:160px;
}

.navbar.navbar-default {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#headline{
  text-align: center;

  font-size:4em;
  margin-top:30px;
  font-family: 'Kaushan Script', cursive;
color: limegreen;  /* fallback for old browsers */
}
  </style>
</head>
<body>
  <div class=" container" >
    
    
   <div id="headline">
     Kishna Camps
   </div>
     <h2 class="ui horizontal divider" style="margin-top:40px; margin-bottom:1px;">
CONTACT US
  </h2>
   <div class="ui fluid two text item menu" >
  <a class="item" style="color:royalblue; font-size:1.41em; " href="tel:7807090086">+91-7807090086</a>
  <a class="item" style="color:royalblue; font-size:1.41em;" href="tel:8351090086">+91-8351090086</a>
</div>
   <h2 class="ui divider">
  </h2>
    
    <nav class="navbar  transparent navbar-default" style="margin-top:20px;">
  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar" class="page-header">
        <ul class="nav navbar-nav">
          <li><a href="/trek/treks" style="font-size:1.5em;">Camps & Treks</a></li>
          <li><a href="/trek/rafting" style="font-size:1.5em;">River Rafting</a></li>
          <li><a href="/trek/paragliding" style="font-size:1.5em;">Paragliding</a></li>
          <li><a href="/trek/leisure" style="font-size:1.5em;">Leisure</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:1.5em;">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section51">Guest House</a></li>

              <li><a href="#section53">Hire Bike & Taxi</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
 </nav>    


<div id="section1" >
    <h1 >EXPERIENCE THE NATURE</h1>
 </div>
  <h1 class="ui horizontal divider">
 ONE TIP 
  </h1>
<div id="section3" style="margin-top:0px;" >
<h1 style="margin-top:80px; color:tomato; font-family: 'Playfair Display', serif;">Leave this</h1>
</div>
<h1 style="margin-top:0px; margin-bottom:0px;" id="headline">TO</h1>
<div id="section4" >
  <h1 style="margin-top:80px; color:tomato; font-family: 'Playfair Display', serif;">Live this</h1>
</div>
  <h2 class="ui horizontal divider">
 <p>OUR NATIONWIDE FAMOUS</p> <p>CAMPS & ACTIVITIES </p>
  </h2>
  
<div id="section2" >
  <div class="container-fluid">
 <div class="ui one doubling fluid cards" style=" margin-left:1px;">
 
  <div  id="rc1" style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class=" raised card">
    <div id="one" class="content" >
      <div  id="header_one" class="header" style="font-size:2.5em;  color:white;"><a style="color:white; font-family: 'Josefin Sans', sans-serif;" href="trek/treks">Camps & Treks</a></div>
      <a href="/trek/treks">
      <div class="description" style="font-size:1.1em;  color:darkorange;">
        <p>Praise the Beauty of Nature</p><p>with Bonfire & Camping </p> 
      </div></a>
    </div>
  </div>  
  </div>
   <div class="ui one doubling fluid cards" style=" margin-left:1px;">
   <div id="rc2"  style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939059/Kishna%20Camps/CampsAndTreks/IJ8frU-DDYPWsuqh3KVhvKJ-rbkgKgEkwmvzBh3stZhuuDkqcA_fsLimEX0UNjBKSfk-PHarYTIJb47KzfpmStDYcHc0-h05JWdT_w1040-h585-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);"  class="raised card">
    <div class="content">
      <div class="header" style="font-size:2.4em; color:white;"><a style="color:white; font-family: 'Josefin Sans', sans-serif;" href="trek/leisure">Leisure</a></div>
  
      <div class="description" style="font-size:1.1em; ">
         <a style="color:lightcoral;" href="trek/leisure"> <p>Be there,</p> 
       <p>Lie there,</p> 
        <p>Do nothing !!!</p>  
      </div></a>
    </div>
  </div>
  </div>
   <div class="ui one doubling fluid cards" style=" margin-left:1px;">
  <div id="rc3" style="background:url(http://res.cloudinary.com/del7capiy/image/upload/v1467314796/activity/Paragliding_in_Kunjapuri_ovrvqb.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class="raised card">
    <div class="content">
      <div class="header" style="font-size:3em;color:white;"><a style="color:white;font-family: 'Josefin Sans', sans-serif;" href="trek/paragliding">Para gliding</a></div>
     
      <div class="description" style="font-size:1.1em;">
        <a style="color:limegreen;" href="trek/paragliding"><p>Glide through the Air</p> <p>like Eagle !!!</p> </a>
      </div>
    </div>
  </div>
  </div>
   <div class="ui one doubling fluid cards" style=" margin-left:1px;">
  <div id="rc4" style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921041/-rPRh9avw9FwKXItwTe8GTT9BD_mRq-WxKrkL6FrujrhdgAkPC10HkKA2GF3ytDPt1guQLfYAxB_CqvMFegXWgmVumZ1E5JYAbnr_w720-h540-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class="raised card">
    <div  class="content">
      <div class="header" style="font-size:2.4em; color:white;"><a style="color:white;font-family: 'Josefin Sans', sans-serif;" href="trek/rafting">River Rafting</a></div>
      
      <div class="description" style="font-size:1.1em; ">
       <a style="color:deepskyblue;" href="trek/rafting" ><p>Want some More</p><p> Adventure & Fun?</p> </a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
 <h2 class="ui horizontal divider" style="margin-top:30px;">
 <p>HOME COMFORT</p> <p>AT AFFORDABLE PRICE</p>
  </h2>
<div id="section51" style="margin-top:30px;">
  <h1 style="margin-top:30px;">Guest House</h1>
<center>
  <button class="ui teal huge  circular basic button" style="text-align:center;"><a href="/trek/guest">KNOW MORE</a></button></center>
</div>
 <h2 class="ui horizontal divider" style="margin-top:30px;">
 <p>CONVENIENCE</p> <p>AT YOUR STEP</p>
  </h2>
  
  
  
<div id="section52" style="margin-bottom:50px;" >
  <h1 style="margin-top:30px;">Bike & Taxi </h1>
  <center>
  <button class="ui teal huge  circular basic button" style="text-align:center;">HIRE NOW</button></center>
</div>
 <h2 class="ui horizontal divider" style="margin-top:30px;">
REAL TESTIMONIAL
  </h2>
<div id="section53" style="margin-bottom:50px; text-align:center;" >
<h3>Prashar Lake is the most beautiful place I have ever been to.</h3>
<h3>I have traveled several places in the world, and there might be more beautiful places out there, but none that I have seen.</h3>
<h2>I loved it!</h2>
<h3>
   <p>- MR SUMIT PRATAP </p> 
TRAVELED FROM NEW DELHI TO PRASHAR LAKE 
</h3>

</div>
</div>
  </div>
<script>
$("#rc1").find("span").click(function(){
  $("#rc1").transition({
      
       animation :'slide right',
      duration  : 1000,
      });
 
  
});
 $("#rc2").find("span").click(function(){
  $("#rc2").transition({
      
       animation :'slide right',
      duration  : 1000,
      });
//   $("#rc1,#rc3,#rc4,.grid").transition('slide left');
});
 $("#rc3").find("span").click(function(){
 $("#rc3").transition({
      
       animation :'slide right',
      duration  : 1000,
      });
//   $("#rc2,#rc1,#rc4,.grid").transition('slide left');
});
 $("#rc4").find("span").click(function(){
 $("#rc4").transition({
      
       animation :'slide right',
      duration  : 1000,
      }); 
//   $("#rc2,#rc3,#rc1,.grid").transition('slide left');
});

 $("#rc1").find("span").click(function(){
  $("#rc1").transition({
      
       animation :'slide right',
      duration  : 1000,
      });
 
  
});
 $("#rc2").find("span").click(function(){
  $("#rc2").transition({
      
       animation :'slide right',
      duration  : 1000,
      });

});
 $("#rc3").find("span").click(function(){
 $("#rc3").transition({
      
       animation :'slide right',
      duration  : 1000,
      });

});
 $("#rc4").find("span").click(function(){
 $("#rc4").transition({
      
       animation :'slide right',
      duration  : 1000,
      }); 

});

</script>
</body>
</html>























<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <title>Camps & Activities</title>-->
<!--  <meta charset="utf-8">-->
  
<!--   <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->

 
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">-->
<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
   <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>-->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
<!--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   -->
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" type="text/css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css" />-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>-->
<!--<style>-->
<!--  body{-->
<!--    background:white;-->

 


 

<!--}-->
<!--</style>-->

<!--</head>-->
<!--<body> -->

<!-- <nav class="navbar navbar-default navbar-top">-->
<!--  <div class="container-fluid" >-->
<!--    <div class="navbar-header">-->
<!--        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>-->
<!--          <span class="icon-bar"></span>                        -->
<!--      </button>-->
<!--      <a class="navbar-brand" href="#" style="font-size:2.5em;">Kishna Camps</a>-->
<!--    </div>-->
<!--    <div>-->
<!--      <div class="collapse navbar-collapse" id="myNavbar" class="page-header">-->
<!--        <ul class="nav navbar-nav">-->
<!--          <li><a href="/trek/treks" style="font-size:1.5em;">Camps & Treks</a></li>-->
<!--          <li><a href="/trek/rafting" style="font-size:1.5em;">River Rafting</a></li>-->
<!--          <li><a href="/trek/paragliding" style="font-size:1.5em;">Paragliding</a></li>-->
<!--          <li><a href="/trek/leisure" style="font-size:1.5em;">Leisure</a></li>-->
<!--          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-size:1.5em;">More<span class="caret"></span></a>-->
<!--            <ul class="dropdown-menu">-->
<!--              <li><a href="#section51">Guest House</a></li>-->
<!--              <li><a href="#section52">Kishna Cafe</a></li>-->
<!--              <li><a href="#section53">Hire Bike & Taxi</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>  -->
  
  


<!--<div class="container-fluid">-->
<!-- <div class="ui link fluid cards" style="margin:0 auto; margin-left:15px;">-->
 
<!--  <div id="rc1" style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class=" raised card">-->
    <!--<div class="image">-->
      <!--<img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg">-->
    <!--</div>-->
<!--    <div id="one" class="content">-->
<!--      <div id="header_one" class="header" style="font-size:5em;  color:white;"><a style="color:white" href="trek/treks">Camps & Treks</a></div>-->
<!--      <a href="/trek/treks">-->
<!--      <div class="description" style="font-size:1.5em;  color:darkorange;">-->
<!--        <p>Praise the Beauty of Nature</p><p>with Bonfire & Camping </p> -->
<!--      </div></a>-->
<!--    </div>-->
   <!--<div class="been" class="ui bottom attached  button">-->
   <!--   <span id="explore" style="font-size:1.5em;"><a href="trek/treks" style="color:black;">Click Here to EXPLORE</a></span>-->
   <!-- </div>-->
<!--  </div>-->
<!--   <div id="rc2"  style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529939059/Kishna%20Camps/CampsAndTreks/IJ8frU-DDYPWsuqh3KVhvKJ-rbkgKgEkwmvzBh3stZhuuDkqcA_fsLimEX0UNjBKSfk-PHarYTIJb47KzfpmStDYcHc0-h05JWdT_w1040-h585-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);"  class="raised card">-->
    <!--<div class="image">-->
    <!--  <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg">-->
    <!--</div>-->
<!--    <div class="content">-->
<!--      <div class="header" style="font-size:5em; color:white;"><a style="color:white;" href="trek/leisure">Leisure</a></div>-->
  
<!--      <div class="description" style="font-size:1.6em; ">-->
<!--         <a style="color:lightcoral;" href="trek/leisure"> <p>Be there,</p> -->
<!--       <p>Lie there,</p> -->
<!--        <p>Do nothing !!!</p>  -->
<!--      </div></a>-->
<!--    </div>-->
  
<!--  </div>-->
<!--  <div id="rc3" style="background:url(http://res.cloudinary.com/del7capiy/image/upload/v1467314796/activity/Paragliding_in_Kunjapuri_ovrvqb.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class="raised card">-->
    <!--<div class="image">-->
    <!--  <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg">-->
    <!--</div>-->
<!--    <div class="content">-->
<!--      <div class="header" style="font-size:5em;color:white;"><a style="color:white;" href="trek/paragliding">Para gliding</a></div>-->
     
<!--      <div class="description" style="font-size:1.6em;">-->
<!--        <a style="color:limegreen;" href="trek/paragliding"><p>Glide through the Air</p> <p>like Eagle !!!</p> </a>-->
<!--      </div>-->
<!--    </div>-->
  
<!--  </div>-->
<!--  <div id="rc4" style="background:url(https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921041/-rPRh9avw9FwKXItwTe8GTT9BD_mRq-WxKrkL6FrujrhdgAkPC10HkKA2GF3ytDPt1guQLfYAxB_CqvMFegXWgmVumZ1E5JYAbnr_w720-h540-rw-no.jpg); box-shadow:inset 0 0 0 1000px rgba(0,0,0,.65);" class="raised card">-->
    <!--<div class="image">-->
    <!--  <img src="https://res.cloudinary.com/dzdj5vlz4/image/upload/v1529921011/Gi5iRx52rOWOm7JxQDnr2oyWWoaOGducTMbjE6i7x3YSeUFqFdgLNBums6KuogzuPDWo4nnn1zDyLyEtmid8zU4cKYKynUwFAPSL_w1280-h720-rw-no.jpg">-->
    <!--</div>-->
<!--    <div  class="content">-->
<!--      <div class="header" style="font-size:5em; color:white;"><a style="color:white" href="trek/rafting">River Rafting</a></div>-->
      
<!--      <div class="description" style="font-size:1.6em; ">-->
<!--       <a style="color:deepskyblue;" href="trek/rafting" ><p>Want some More</p><p> Adventure & Fun?</p> </a>-->
<!--      </div>-->
<!--    </div>-->
   <!--<div class="been" class="ui bottom attached large purple button">-->
   <!--   <span style="font-size:1.5em;"><a href="trek/rafting" style="color:black;">Click Here to EXPLORE</a></span>-->
   <!-- </div>-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="ui one column grid">-->
<!--  <div class="column">-->
<!--<div class="ui fluid card" style="margin-top:90px;">-->
    
<!--    <div class="content">-->
      
<!--      <h4 class="ui horizontal divider header"  style="font-size:1.5em; color:orange;">-->
<!-- About Us-->

<!--</h4>-->
      
<!--      <div class="description" style="font-size:1.2em; color:grey;">-->
<!--        Kishna Camps were founder in 1998 by .... .We are experts in providing rem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.-->
<!--      </div>-->
<!--<h4 class="ui horizontal divider header"  style="font-size:1.5em; color:orange;">-->
<!--Contact Us:-->
<!--</h4>-->
      
<!--      <div class="description" style="font-size:1.2em;color:grey;">-->
<!--       <p>Name:</p>-->
<!--       <p>Phone No. :</p>-->
    
<!--      <p> Address:</p>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  </div>-->
<!--</div>-->








<!-- </div>-->
<!--<script>-->




<!--</script>-->


<!--</body>-->
<!--</html>  -->
